name: GlobalKeyInterceptor

on:
  push:
    branches: [ "**" ]
    tags: [ "**"]

env:
  PROJECT_NAME: GlobalKeyInterceptor
  PROJECT_DIR: src/GlobalKeyInterceptor
  TESTS_DIR: tests/GlobalKeyInterceptor.Tests
  DOTNET_VERSION: 10.0.x
  OUTPUT_DIR: nupkgs
  CHANGELOG_PATH: CHANGELOG.md
  RELEASE_NOTES_PATH: release_notes.md

jobs:
  build:
    runs-on: windows-latest
    outputs:
      package_name: ${{ steps.pack.outputs.package_name }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build
      run: dotnet build -c Release

    - name: Tests
      run: dotnet test ${{ env.TESTS_DIR }} -c Release --no-build

    - name: Pack
      id: pack
      run: | 
        dotnet pack ${{ env.PROJECT_DIR }} -c Release --no-build --output ./${{ env.OUTPUT_DIR }}
        $packageName = Get-ChildItem -Path ".\${{ env.OUTPUT_DIR }}" -Filter *.nupkg -Recurse | Select-Object -First 1 | ForEach-Object { $_.Name }
        echo "package_name=$packageName" >> $env:GITHUB_OUTPUT

    - name: Generate Release Notes
      id: extract_notes
      shell: pwsh
      run: |
        $changelog = Get-Content ${{ env.CHANGELOG_PATH }} -Raw

        if ($changelog -match '(?s)(## v[\d\.]+.*?)(?=\n## v|$)') {
            $notes = $matches[1].Trim()
            $notes | Out-File -FilePath ${{ env.RELEASE_NOTES_PATH }} -Encoding utf8
        } else {
            Write-Error "Could not find a valid version section"
            exit 1
        }
        
    - name: Upload artifact
      if: github.ref_type == 'tag'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.PROJECT_NAME }}
        path: |
          ./${{ env.OUTPUT_DIR }}/${{ steps.pack.outputs.package_name }}
          ./${{ env.RELEASE_NOTES_PATH }}

  publish:
    needs: build
    runs-on: windows-latest
    if: github.ref_type == 'tag'

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.PROJECT_NAME }}
        path: ./${{ env.OUTPUT_DIR }}

    - name: Push to NuGet
      run: dotnet nuget push ./${{ env.OUTPUT_DIR }}/${{ needs.build.outputs.package_name }} --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ./${{ env.OUTPUT_DIR }}/${{ needs.build.outputs.package_name }}
        bodyFile: ./${{ env.OUTPUT_DIR }}/${{ env.RELEASE_NOTES_PATH }}
        token: ${{ secrets.GH_USER_TOKEN }}
